@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: #ea40a4;
  --business: #3a82ee;
  --personal: var(--primary);
  --light: #eee;
  --white: #ffffff;
  --grey: #888;
  --dark: #313154;
  --danger: #ff5b57;
  --green: #bcffb8;
  --pastelblue: #cce0ff;
  --navy: #0b1560;
  --blue: #293495;

  --shadow: 5px 8px 0px rgba(0, 0, 0, 0.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.button-direction {
  display: flex;
  flex-direction: row-reverse;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.navbar {
  margin: 0;
  display: flex;
  position: sticky;
  justify-content: space-between;
  background-color: #6b4400;
}

.logo {
  padding: 18px;
}

.logo > a {
  color: #f5f5f5;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Poppins";
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 20px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  /* padding: 10px; */
}

li {
  list-style: none;
  padding: 30px;
}

li > a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

body {
  background-color: #fff3ad;
  color: var(--dark);
}

section {
  margin-top: 30px;
  margin-bottom: 5px;
  padding-left: 30px;
  padding-right: 1rem;
}

h3 {
  color: #272026;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0.01rem;
}

h4 {
  color: #b48a5c;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.topnav {
  background-color: #272026;
  overflow: hidden;
}

.userList {
  display: flex;
  gap: 10px;
  font-size: 16px;

  text-decoration: underline;
}

.userList > * {
  color: var(--primary);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #6b5a16;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.greeting .title {
  display: flex;
}

.greeting .title input {
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
}

.greeting .title,
.greeting .title input {
  color: var(--navy);
  font-size: 1.5rem;
  font-weight: 700;
}

button {
  border-width: 2px;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  margin: 10px 0px;
  background-color: #8c6116;
  color: whitesmoke;
}

.button-direction > button {
  display: flex;
  background-color: var(--danger);
  padding: 8px;
  color: #fff;
  font-weight: 500;
}

.create-todo {
  margin: 0px;
}

.create-todo input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--dark);
  background-color: #ffe6b0;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
}

.create-todo .options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

.create-todo .options label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #ffe6b0;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0px solid var(--business);
  box-shadow: var(--business-glow);
}

.bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--business);
  box-shadow: var(--business-glow);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

input:checked ~ .bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.not-found {
  padding-top: 200px;
}

.not-found > * {
  padding: 5px;
}

.notfound span > * {
  color: var(--green);
  text-decoration: underline;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.notfound {
  text-align: left;
  font-family: "Poppins";
  color: white;
}
.wecant {
  color: white;
}
.title {
  font-size: 100px;
  font-weight: 500;
}
.piccos img {
  width: 400px;
  height: auto;
}
